<!DOCTYPE html>

<html lang = "eng">
	<head>
		<title> TinyApp </title>

		<style>
			form {
				display: inline-block;
				margin-bottom: 3%;
			}
		</style>
	</head>

	<body>
		<%- include partials/_header.js %>
		<ul>
			<% for (let urlID in urls) { %>
				<li> <%= urlID %>: <%= urls[urlID] %> </li></br>
				<form method = "GET" action = "<%=  urls[urlID] %>"> 
					<input type = "submit" value = "Visit Page">
				</form>

				<form method = "POST" action = "/urls/<%= urlID %>/delete">
					<input type = "submit" value = "Delete">
				</form>

				<form method = "POST" action = "/urls/<%= urlID %>">
					<input type = "text" name = "updateURL" placehodler = "http://" style = "width: 300px;">
					<input type = "submit" value = "Update">
				</form>
			<% } %>
		</ul>		
	</body>
</html>